body{
    background-image: url(desert.png);
    overflow: hidden;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

.point{
    width:250px;
    height: 120px;
    border: solid 1px #000;
    text-align: center;
    background: #ffd373;
}


.point td{
    border-top: solid 1px #000;
    vertical-align:middle;
}

.turn{
    width: 10%;
}

.name{
    width: 40%;
}

.money{
    width: 35%;
}

.point img{
    width: 70%;
    height: auto;
}

.ticket{
    width: 400px;
    height: 120px;
    border: solid 1px #000;
    background: #ffd373;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxtitle{
    margin-top: 5px;
}

.color_ticket{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.color_ticket > div{
    width: 55px;
    height: 65px;
    position: relative;
    overflow: visible;
}

.color_ticket > div p{
    position: absolute;
    top: 80px;
    font-size: small;
}


.ticket_picture{
    width: 100%;
    height: auto;
    position: absolute;
    display: block;
    transition-duration: 0.5s;
    z-index: 1;
}

.ticket_picture:hover{
    transform: scale(2.5, 2.5);
    transition-duration: 0.5s;
    top: 10%;
    z-index: 2;
}

.dice{
    width: 150px;
    height: 120px;
    border: solid 1px #000;
    background: #ffd373;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.remain_dice{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.dice_picture{
    width: 20%;
    height: auto;
}

.forecast{
    width: 300px;
    height: 120px;
    border: solid 1px #000;
    background: #ffd373;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first_camel, .lowest_camel, .my_forecast{
    width: 90px;
    height: 90px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_count{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}

.stage{
    width: 1400px;
    height: 500px;
}

.log{
    width: 500px;
    height: 200px;
    border: solid 1px #000;
    background-color: rgba(0, 255, 242, 0.3);
    margin:0 0 0 auto;
    margin-right: 20px;
}

.log p{
    font-weight: bold;
    margin-left: 10px;
    font-size: 1.1rem;
}

.camel_root{
    margin: 0 auto;
    margin-top: 70px;
    width: 95%;
    height: 130px;
    position: relative;
    left: 10px;
}

.mass{
    border: 1px solid black;
    background-color: greenyellow;
    width: 80px;
    height: 50px;
    transform: skewX(-45deg);
    display: inline-block;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
}

.mass p{
    position: absolute;
    bottom: -25px;
    left: 66%;
    transform: translateX(-50%);
    transform: skew(45deg);
    font-weight: bold;
    margin: 0;
}

.goaltape{
    border: 1px solid black;
    background: #000;
    width: 30px;
    height: 50px;
    transform: skewX(-45deg);
    position: absolute;
    top: 0px;
    right: 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.goaltape > div{
    width: 14px;
    height: 9.5px;
}

.blacktape{
    background: black;
}

.whitetape{
    background: white;
}

.camel{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
}

.command_place{
    background-color: rgba(138, 138, 138, 0.6);
    border: solid 1px #000;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-top: -20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.command p{
    font-size: 20px;
    font-weight: bold;
    cursor : pointer;
}
